# IDEs
.idea/

# Hugo
/resources/
public/
jsconfig.json
node_modules/
.DS_Store
.zshrc
*.icloud
content/publication/tabuencaetal-ce15/.tabuencaetal-ce15.pdf.icloud
content/publication/suarezetal- idaj15/.suarezetal-idaj15.pdf.icloud
content/publication/ternieretal-jucs12/.ternieretal-jucs12.pdf.icloud
*.icloud
*.icloud
*.icloud
*.icloud
*.icloud
