[submodule "content/course/mediamanipulation23"] 
	path = content/course/mediamanipulation23
	url = https://github.com/mkalz/mediamanipulation23
[submodule "mediamanipulation23"]
	path = mediamanipulation23
	url = https://github.com/mkalz/mediamanipulation23
