body {
    background-image: url('theme_images/corner.svg'), url('theme_images/sysart.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: auto 30%, 20% 20%;
    }
  
